{% comment %}
  未注册时渲染礼物，邮箱订阅获取优惠码

  Usage:
  {% render 'kawa-gift-offer-new' %}
{% endcomment %}

{{ 'kawa-gift-offer-new.css' | asset_url | stylesheet_tag }}

<div class="kawa-gift-offer-new">
  <button class="gift-btn">
    <div>
      <span></span>
    </div>
  </button>
  <div class="get-offer-dlg">
    <div>
      <div class="subscribe-form-wrap">
        <button class="close-dlg-btn">
          <svg
            role="img"
            width="35"
            height="35"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title id="title-Close form 1">Close form 1</title><circle cx="10" cy="10" r="9.5" fill="rgba(180,187,195,0)" stroke="rgba(255,255,255,0)" style="cursor: pointer;"></circle><path d="M6 6L14 14M6 14L14 6L6 14Z" stroke="#373F47" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;"></path>
          </svg>
        </button>
        {% form 'customer' %}
          <div class="form-inner">
            <div class="form-item form-title">
              <span>JOIN US</span>
            </div>
            <div class="form-item form-info">
              <span>Sign up for 10% OFF Your First Order</span>
            </div>
            <div class="form-item form-email-box">
              <input type="email" name="contact[email]" placeholder="Email" required>
            </div>
            <div class="form-item form-submit-btn">
              <button type="button">Unlock Offer</button>
            </div>
            <div class="form-item form-detail form-detail">
              <span>By signing up, you agree to receive email marketing</span>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function () {
    const giftBtn = document.querySelector('.kawa-gift-offer-new .gift-btn');
    const offerDlg = document.querySelector('.kawa-gift-offer-new .get-offer-dlg');
    const dlgCloseBtn = document.querySelector('.kawa-gift-offer-new .get-offer-dlg .close-dlg-btn');
    if (giftBtn) {
      giftBtn.addEventListener('click', () => {
        giftBtn.style.bottom = '-104px';
        giftBtn.addEventListener('transitionend', () => {
          giftBtn.parentNode.removeChild(giftBtn);

          if (offerDlg) {
            offerDlg.style.right = '0';
          }
        });
      });
    }

    if (dlgCloseBtn) {
      dlgCloseBtn.addEventListener('click', () => {
        offerDlg.style.right = '-350px';
        dlgCloseBtn.addEventListener('transitionend', () => {
          dlgCloseBtn.parentNode.removeChild(dlgCloseBtn);
        });
      });
    }

    $('.kawa-gift-offer-new .form-submit-btn button').on('click', function () {
      const valid = document.querySelector('.kawa-gift-offer-new #contact_form').reportValidity();
      if (valid) {
        $.post('/contact#contact_form', $('.kawa-gift-offer-new #contact_form').serialize()).done((res) => {
          console.log(res);
        });
      }
    });
  })();
</script>
