{{ "kawa-video-banner.css" | asset_url | stylesheet_tag }}

<link
  rel="stylesheet"
  href="{{ 'swiper.min.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<script src="{{ 'swiper.min.js' | asset_url }}" defer="defer"></script>

<div class="video-banner">
  <div class="swiper-container video-swiper-container w-100">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="item-wrapper">
          <div class="banner-item-content acc mw-1200-c text-white">
            <h1 class="banner-main-text text-white">
              Kawa official
              <br />
              <span id="auto-text-1"></span>
            </h1>
            <label class="banner-item-name">CJ1013</label>
            <p class="banner-item-desc">4G LTE Battery Security Camera Works on Its Own Without WiFi.</p>
            <div>
              <a href="/" class="item-shop-now-btn banner-btn"> Shop Now
                <span class="iconify icon-arrow-right" data-icon="dashicons:arrow-right-alt2"></span>
              </a>
              <a href="/" class="item-learn-more-btn banner-btn"> Learn More
                <span class="iconify icon-arrow-right" data-icon="dashicons:arrow-right-alt2"></span>
              </a>
            </div>
          </div>
            <video
              autoplay
              class="vc-video lazyloadVideo w-100 h-100"
              poster="https://reolink.com/wp-content/assets/banner/rlk8-810b4-a-homepage-banner-pc.jpg?v=1661398539134"
              type="video/mp4"
              data-src="https://reolink.com/wp-content/assets/banner/rlk8-810b4-a-homepage-banner-pc.mp4"
              preload="none"
              loop=""
              muted="muted"
              playsinline=""
              data-canvas="7af2875d-f2bc-1be0-9992-6a94f3ef1f47"
              src="https://reolink.com/wp-content/assets/banner/rlk8-810b4-a-homepage-banner-pc.mp4"
              isload="true"
            ></video>
        </div>
      </div>
      <div class="swiper-slide">2</div>
      <div class="swiper-slide">3</div>
      <div class="swiper-slide">4</div>
    </div>
    <div class="swiper-pagination video-banner-pagination"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
</div>

<script text="text/javascript">
  const textEl1 = document.getElementById("auto-text-1");
  const SLIDE_COUNT = 4;
  const autoTextMap = [
    null,
    {
      text: "Welcome!",
      el: textEl1,
      index: 1,
    },
  ];
  const writeText = function (curObj) {
    curObj.el.innerHTML = curObj.text.slice(0, curObj.index);
    curObj.index++;
    if (curObj.index <= curObj.text.length) {
      setTimeout(() => {
        writeText(curObj);
      }, 100);
    } else {
      curObj.index = 1;
      curObj.el.classList.remove("text-blink");
    }
  };

  window.addEventListener("load", () => {
    var swiper = new Swiper(".video-swiper-container", {
      loop: true,
      pagination: ".swiper-pagination",
      paginationClickable: true,
      nextButton: ".swiper-button-next",
      prevButton: ".swiper-button-prev",

      onSlideChangeEnd: function (swiper) {
        const curIdx = swiper.activeIndex;
        let curObj;
        if (curIdx === SLIDE_COUNT) {
          curObj = autoTextMap[curIdx];
        } else {
          curObj = autoTextMap[curIdx % SLIDE_COUNT];
        }
        if (!curObj) {
          return;
        }
        writeText(curObj);
        curObj.el.classList.add("text-blink");
      },
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.kawa-video-banner.name",
  "tag": "section",
  "class": "kawa-video-banner-section"
}
{% endschema %}
