<link
  rel="stylesheet"
  href="{{ 'kawa-products-card.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>

<div class="products-card-container mw-1200-c {{ section.id }}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
      <div class="container-title" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</div>
    {%- endcase -%}
  {%- endfor -%}
  <div class="container-all-card flex-b flex-wrap w-100">
    <div class="product-card product-card-first w-100">
      <figure class="w-100">
        <img
          src="https://cdn.shopify.com/s/files/1/0504/7094/4954/files/20220705-192730.jpg?v=1657165356"
          class="mw-100 h-auto"
        />
      </figure>
      <div class="card-description-box flex-vc wh-100">
        <p class="description-title">Video Doorbell Dual</p>
        <p class="description-desc">Dual Cam Technology</p>
        <button class="learn-more-btn">Shop Now</button>
      </div>
    </div>
    <div class="product-card product-card-second">
      <figure class="w-100">
        <img
          src="https://cdn.shopify.com/s/files/1/0504/7094/4954/files/x8-hybrid.jpg?v=1657165357"
          class="mw-100 h-auto"
        />
      </figure>
      <div class="card-description-box flex-vc wh-100">
        <p class="description-title">Video Doorbell Dual</p>
        <p class="description-desc">Dual Cam Technology</p>
        <button class="learn-more-btn">Shop Now</button>
      </div>
    </div>
    <div class="product-card product-card-third">
      <figure class="w-100">
        <img
          src="https://cdn.shopify.com/s/files/1/0504/7094/4954/files/1180_664-2.jpg?v=1661410378"
          class="mw-100 h-auto"
        />
      </figure>
      <div class="card-description-box flex-vc wh-100">
        <p class="description-title">Video Doorbell Dual</p>
        <p class="description-desc">Dual Cam Technology</p>
        <button class="learn-more-btn">Shop Now</button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.kawa-products-card.name",
  "tag": "section",
  "class": "section",
 "class": "kawa-products-card__section",
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.kawa-products-card.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Kawa Fans Love These Products",
          "label": "t:sections.kawa-products-card.blocks.heading.settings.heading.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.kawa-products-card.name",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
