<link
  rel="stylesheet"
  href="{{ 'kawa-product-specifications.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<div class="kawa-product-specifications mw-1000-c">
  <div class="specifications-title">
    {{ section.settings.title }}
  </div>

  {% assign specifications = product.metafields.customer.specs.value %}
  {% for specification in specifications %}
    <div class="kawa-accordion">
      <span class="kawa-accordion-name">
        {{ specification.name }}
      </span>
      {% render 'icon-kawa-arrow-right' %}
    </div>
    <div class="kawa-accordion-content">
      <span class="accordion-content__inner">
        {%- assign allLine = specification.value | split: '<br>' -%}

        {% for line in allLine %}
          {{ line }}
          <br>
        {% endfor %}
      </span>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "产品规格",
  "tag": "section",
  "settings": [{ "type": "text", "id": "title", "label": "标题", "default": "Specs" }]
}
{% endschema %}
