{{ 'kawa-promotion-list-new.css' | asset_url | stylesheet_tag }}

<div class="kawa-promotion-list-new">1</div>

{% schema %}
{
  "name": "承接页的产品列表NEW",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    }
  ]
}
{% endschema %}
