{{ 'kawa-main-banner-new.css' | asset_url | stylesheet_tag }}

<div class="kawa-main-banner-new">
  {% if section.settings.banner_type == 'carousel' %}
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            {% render 'kawa-main-banner-new-item',
              banner_type: 'image',
              image_pc: block.settings.image_pc,
              image_mb: block.settings.image_mb,
              text_top: block.settings.text_top,
              text_middle: block.settings.text_middle,
              text_bottom: block.settings.text_bottom,
              btn_text: block.settings.btn_text,
              btn_target: block.settings.btn_target
            %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  {%- else -%}
    {% render 'kawa-main-banner-new-item',
      banner_type: section.settings.banner_type,
      image_pc: section.settings.banner_image_pc,
      image_mb: section.settings.banner_image_mb,
      video_pc: section.settings.banner_video_pc,
      video_mb: section.settings.banner_video_mb,
      video_poster_pc: section.settings.banner_video_poster_pc,
      video_poster_mb: section.settings.banner_video_poster_mb,
      text_top: section.settings.text_top,
      text_middle: section.settings.text_middle,
      text_bottom: section.settings.text_bottom,
      btn_text: section.settings.btn_text,
      btn_target: section.settings.btn_target
    %}
  {% endif %}
</div>

{% if section.settings.banner_type == 'carousel' %}
  <script type="text/javascript">
    (function () {
      const swiper = new Swiper('.kawa-main-banner-new .swiper-container', {
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.kawa-main-banner-new .swiper-pagination',
        },
        paginationClickable: true,
      });
    })();
  </script>
{% endif %}

{% schema %}
{
  "name": "主页的bannerNEW",
  "settings": [
    {
      "type": "radio",
      "id": "banner_type",
      "label": "banner类型",
      "options": [
        {
          "value": "image",
          "label": "图片"
        },
        {
          "value": "video",
          "label": "视频"
        },
        {
          "value": "carousel",
          "label": "轮播图"
        }
      ],
      "default": "image"
    },
    {
      "type": "text",
      "id": "text_top",
      "label": "上方文本",
      "info": "这些文本只有banner类型为图片或视频时有效,banner类型为轮播图时需要单独设置。"
    },
    {
      "type": "text",
      "id": "text_middle",
      "label": "中间文本",
      "info": "这些文本只有banner类型为图片或视频时有效,banner类型为轮播图时需要单独设置。"
    },
    {
      "type": "text",
      "id": "text_bottom",
      "label": "下方文本",
      "info": "这些文本只有banner类型为图片或视频时有效,banner类型为轮播图时需要单独设置。"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "按钮文本",
      "info": "这些文本只有banner类型为图片或视频时有效,banner类型为轮播图时需要单独设置。"
    },
    {
      "type": "url",
      "id": "btn_target",
      "label": "按钮跳转的链接"
    },
    {
      "type": "image_picker",
      "id": "banner_image_pc",
      "label": "banner图(PC端)"
    },
    {
      "type": "image_picker",
      "id": "banner_image_mb",
      "label": "banner图(移动端)"
    },
    {
      "type": "url",
      "id": "banner_video_pc",
      "label": "banner视频(PC端)"
    },
    {
      "type": "image_picker",
      "id": "banner_video_poster_pc",
      "label": "banner视频的封面图片(PC端)"
    },
    {
      "type": "url",
      "id": "banner_video_mb",
      "label": "banner视频(移动端)"
    },
    {
      "type": "image_picker",
      "id": "banner_video_poster_mb",
      "label": "banner视频的封面图片(移动端)"
    }
  ],
  "blocks": [
    {
      "type": "image_carousel_item",
      "name": "轮播图项",
      "settings": [
        {
          "type": "text",
          "id": "text_top",
          "label": "上方文本"
        },
        {
          "type": "text",
          "id": "text_middle",
          "label": "中间文本"
        },
        {
          "type": "text",
          "id": "text_bottom",
          "label": "下方文本"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "按钮文本"
        },
        {
          "type": "url",
          "id": "btn_target",
          "label": "按钮跳转的链接"
        },
        {
          "type": "image_picker",
          "id": "image_pc",
          "label": "轮播项的图(PC端)"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "轮播项的图(移动端)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "主页的bannerNEW"
    }
  ]
}
{% endschema %}
