<style>
  .product-tabs-box .product-tabs__heading {
    display: flex;
    padding: 0;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  .product-tabs-box .product-tabs__heading .product-tabs-title h1 {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  .product-tabs-box .product-tabs__heading .product-tabs-links {
    display: flex;
  }
  .product-tabs-box .product-tabs__heading .product-tabs-links .product-tabs-link-item {
    padding: 0 20px;
    list-style-type: none;
  }
  .product-tabs-box .product-tabs__heading .product-tabs-links .product-tabs-link-item .tabs-link {
    display: block;
    border: 0;
    appearance: none;
    outline: 0;
    padding: 0 4px;
    font-weight: 500;
    color: #a5a5a5;
    line-height: 48px;
    letter-spacing: .3px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    margin: 0;
  }
  .product-tabs-box .product-tabs__heading .product-tabs-links .product-tabs-link-item .tabs-link--active  {
    font-weight: 700;
    color: #000;
    letter-spacing: 0;
    cursor: default;
    border-bottom: 2px solid #000;
  }
  .product-tabs-box .product-tabs__heading .product-tabs-title .product-tabs_overview__btn {
    display: none;
  }
  @media (max-width: 749px) {
    .product-tabs-box .product-tabs__heading {
      display: block;
    }
    .product-tabs-box .product-tabs__heading .product-tabs-title {
      display: flex;
      padding: 0 16px;
    }
    .product-tabs-box .product-tabs__heading .product-tabs-title .product-tabs_overview__btn {
      display: block;
      width: 26px;
      border: 0;
      background-color: transparent;
    }
    .product-tabs-box .product-tabs__heading .product-tabs-title .product-tabs_overview__btn svg {
      transition: .7s transform cubic-bezier(0.075,0.82,0.165,1);
    }
    .product-tabs-box .product-tabs__heading .product-tabs-title .product-tabs_overview__btn.open svg {
      transform: rotate(-180deg);
    }
    .product-tabs-box .product-tabs__heading .product-tabs-links-box {
      transition: height .2s ease-in-out;
      height: 0;
      overflow: hidden;
    }
    .product-tabs-box .product-tabs__heading .product-tabs-links {
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 16px;
      
    }
    .product-tabs-box .product-tabs__heading .product-tabs-links .product-tabs-link-item {
      padding: 0;
    }
    .product-tabs-box .product-tabs__heading .product-tabs-links .product-tabs-link-item .tabs-link--active {
      border-bottom: 0;
    }
    .product-tabs-box .product-tabs__heading .product-tabs-links .product-tabs-link-item .tabs-link {
      line-height: 34px;
    }
  }
  
</style>

<div class="product-tabs-box page-width">
  <div class="product-tabs__heading">
    <div class="product-tabs-title">
      <h1>{{ product.title }}</h1>
      <button class="product-tabs_overview__btn" onclick="openLinks()">
        <svg id="drop-down__btn_mob" xmlns="http://www.w3.org/2000/svg" width="9.414" height="5.414" viewBox="0 0 9.414 5.414">
          <g transform="translate(0.207 0.207)">
            <g transform="rotate(90)">
              <path d="M.5-.5l4-4" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1"></path>
              <path d="M.5.5l4,4" transform="translate(0 -9)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1"></path>
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="product-tabs-links-box">
      <ul class="product-tabs-links">
        {% for block in section.blocks %}
          <li class="product-tabs-link-item">
              <a class="tabs-link" href="{% if block.settings.url != blank %}{{ block.settings.url }}{% else %}#{{ block.settings.section-id }}{% endif %}">
                {{ block.settings.title }}
              </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  // 获取所有的 <a> 标签元素
  const links = document.querySelectorAll(".product-tabs-links .product-tabs-link-item .tabs-link");
  // 页面加载时检查当前页面的锚点值，并设置对应的链接为选中状态
  window.addEventListener("load", function() {
    const currentHash = window.location.hash;
    // 遍历每个 <a> 标签元素
    links.forEach(function(link) {
      // 获取链接的 href 属性值
      const href = link.getAttribute("href");
      link.classList.remove("tabs-link--active")
      // 检查当前页面的锚点值是否与链接的 href 属性值相匹配
      if (currentHash === href) {
        // 将匹配的链接设置为选中状态
        link.classList.add("tabs-link--active");
      }
    });
  });
  // 遍历每个 <a> 标签元素
    links.forEach(function(link) {
    // 添加点击事件监听器
    link.addEventListener("click", function() {
      // 移除所有已选中的链接的类
      links.forEach(function(link) {
        link.classList.remove("tabs-link--active");
      });
      // 将选中的链接添加特定的类
      this.classList.add("tabs-link--active");
    });
  });

  function showSection(id) {
    const aaa = document.querySelectorAll('.aaa');
    aaa.forEach(function(a) {
      a.style.display = "none";
    });
    document.getElementById(id).style.display = "block";
  }

  function openLinks() {
    const links = document.querySelector('.product-tabs-box .product-tabs__heading .product-tabs-links');
    const linksBox = document.querySelector('.product-tabs-box .product-tabs__heading .product-tabs-links-box');
    const btn = document.querySelector('.product-tabs_overview__btn');
    if (btn.classList.contains('open')) {
      btn.classList.remove('open')
      linksBox.style.height = "0";
    }else {
      btn.classList.add('open');
      linksBox.style.height = `${links.offsetHeight}px`;
    }
  }
</script>
{% schema %}
  {
    "name": "product tabs",
    "settings": [
        
    ],
    "blocks": [
        {
            "type": "tab",
            "name": "tab",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "标题"
                },
                {
                    "type": "text",
                    "id": "section-id",
                    "label": "section id"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "url"
                }
            ]
        }
    ],
    "presets":[{"name": "product tabs"}]
 }
{% endschema %}