/*这个id是编译后自动生成的包围元素*/
#shopify-section-header-kawa {
  z-index: 10;
}

#header {
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
}

#header:hover {
  background-color: #fff;
}

#header .header-wrapper-kawa {
  width: 1200px;
  margin: 0 auto;
  max-height: 88px;
  position: static;
  display: flex;
}

#header .logo {
  margin-top: 26px;
  width: 138px;
  height: 35px;
}

#header .main-header-logo {
  position: relative;
  z-index: 0;
  filter: grayscale(100%) brightness(200%);
  transition: 0.3s;
}

#header:hover .main-header-logo {
  filter: grayscale(0%) brightness(100%);
}

#header .nav-container {
  flex: 1;
  display: flex;
  line-height: 88px;
  justify-content: space-between;
  align-items: center;
}

#header .nav-left {
  padding-left: 38px;
  list-style-type: none;
}

#header .nav-left > li,
#header .nav-right > li {
  display: inline-block;
  padding: 0 18px;
}

#header .nav-left > li > a,
#header .nav-right > li > a {
  color: #fff;
  font-family: quicksand;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  line-height: 88px;
  height: 88px;
}

#header .nav-left > li > a:hover {
  border-bottom: 3px solid #00ade5;
  padding-bottom: 30px;
}

#header .nav-right > li {
  font-size: 22px;
}

#header .nav-right > li svg {
  position: relative;
  top: 4px;
}

#header .nav-right > li .current-lang {
  font-family: quicksand;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  padding: 0;
  line-height: 88px;
  height: 88px;
}

#header:hover [class^="nav-"] > li > a {
  color: #555;
}
#header [class^="nav-"] > li > a:hover {
  color: #00ade5;
}

/*菜单项产品相关的样式*/
.product-menu .product-sub-menu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: none;
}

.product-menu:hover .product-sub-menu {
  display: block;
}

.product-sub-menu .product-category-panel {
  height: 515px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #fff;
}

.product-sub-menu .product-category-tab {
  width: 13.8vw;
  max-width: 250px;
}

.product-sub-menu .product-category-tab li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6f6f;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  margin: 17px 0;
}

.product-sub-menu .product-category-tab li.active {
  color: #21d2c5;
}

.product-sub-menu .product-category-content {
  flex: 1;
  max-width: 960px;
  margin-left: 90px;
  position: relative;
}

.product-sub-menu .product-category-content > div {
  display: none;
}

.product-sub-menu .product-category-content > div.active {
  display: block;
}

.product-sub-menu .product-card-list {
  padding: 1.5rem 0;
  max-height: 80vh;
  overflow-y: auto;
}

/* 产品项目相关 */
.product-sub-menu .product-card-item {
  max-width: 230px;
  width: 24%;
  height: 300px;
  padding: 0 15px;
  border-radius: 8px;
  background: #f4f4f4;
  position: relative;
  margin: 0 1% 6px 0;
}

.product-sub-menu .product-card-item:hover {
  background: #f8f8f8;
}

.product-card-item .product-card__img {
  width: 100%;
  display: block;
  max-height: max-content;
}

.product-card-item .product-card__name {
  font-size: 16px;
  color: #525252;
  line-height: 22px;
  margin-top: 24px;
  text-align: center;
}

.product-card-item .product-card__icon {
  width: 35px;
  height: 47px;
  position: absolute;
  left: 15px;
  top: 0;
}

.product-card-item .product-card__icon svg {
  position: absolute;
  left: 0;
  top: 0;
}

.product-card-item .product-card__icon .card-text {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  z-index: 2;
}
