/*这个id是编译后自动生成的包围元素*/
#shopify-section-header-kawa {
  z-index: 10;
}

#header {
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  font-family: 'Assistant';
}

#header ul {
  margin-bottom: 0;
}

#header:hover {
  background-color: #fff;
}

#header .header-wrapper-kawa {
  margin: 0 auto;
  max-height: 88px;
  position: static;
  display: flex;
}

#header .logo {
  margin-left: 18px;
  margin-top: 26px;
  width: 138px;
  height: 35px;
}

#header .main-header-logo {
  position: relative;
  z-index: 0;
  filter: grayscale(100%) brightness(200%);
  transition: 0.3s;
}

#header:hover .main-header-logo {
  filter: grayscale(0%) brightness(100%);
}

#header .nav-container {
  flex: 1;
  display: flex;
  line-height: 88px;
  justify-content: space-between;
  align-items: center;
}

#header .nav-hamburger {
  display: none;
}

#header .cart-icon-container {
  display: none;
}

#header .nav-left {
  padding-left: 38px;
  list-style-type: none;
  margin-bottom: 0;
}

#header .nav-right {
  height: 88px;
}

#header .nav-left > li,
#header .nav-right > li {
  display: inline-block;
  padding: 0 18px;
}

#header .nav-left > li > a,
#header .nav-right > li > a {
  color: #fff;
  font-family: quicksand;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  line-height: 88px;
  height: 88px;
}

#header .nav-left > li > a:hover {
  border-bottom: 3px solid #00ade5;
  padding-bottom: 32px;
}

#header .nav-right > li {
  font-size: 22px;
}

#header .cart-count-bubble {
  left: 15px;
  display: none;
}
#header:hover .cart-count-bubble {
  display: flex;
}

#header .nav-right > li svg {
  position: relative;
  top: 4px;
}

#header .nav-right > li .current-lang {
  font-family: quicksand;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  padding: 0;
  line-height: 88px;
  height: 88px;
}

#header:hover [class^='nav-'] > li > a {
  color: #555;
}
#header [class^='nav-'] > li > a:hover {
  color: #00ade5;
}

/* 用户菜单 */
#header .account-nav {
  position: relative;
}
#header .account-nav .account-menu {
  display: none;
}
#header .account-nav:hover .account-menu {
  display: block;
  position: absolute;
  padding: 0 10px;
  width: 150px;
  height: 132px;
  background-color: #fff;
}

#header .account-menu li {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
}

#header .account-menu li > * {
  color: #6f6f6f;
  font-size: 14px;
  line-height: 20px;
}
#header .account-menu li > span {
  margin: 0 5px;
}
#header .account-menu li .login-link {
  color: #000;
}
#header .account-menu li > a:hover {
  text-decoration: none;
  color: #21d2c5;
}

/* 常规子菜单样式 */
.normal-sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 88px;
}
.nav-item:hover .normal-sub-menu {
  display: block;
}

.normal-sub-menu li a {
  padding: 0 25px;
  color: #555;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 60px;
  border-bottom: 0;
  margin: 0;
}
.normal-sub-menu li a:hover {
  background-color: #f7f8f9;
  color: #00ade5;
}

/*菜单项产品相关的样式*/
.product-menu.product-sub-menu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: none;
}

.nav-item:hover .product-sub-menu {
  display: block;
}

.product-sub-menu .product-category-panel {
  height: 515px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #fff;
}

.product-sub-menu .product-category-tab {
  width: 13.8vw;
  max-width: 250px;
}

.product-sub-menu .product-category-tab li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6f6f;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  margin: 17px 0;
}

.product-sub-menu .product-category-tab li.active {
  color: #21d2c5;
}

.product-sub-menu .product-category-content {
  flex: 1;
  max-width: 960px;
  margin-left: 90px;
  position: relative;
}

.product-sub-menu .product-category-content > div {
  display: none;
}

.product-sub-menu .product-category-content > div.active {
  display: block;
}

.product-sub-menu .product-card-list {
  padding: 1.5rem 0;
  max-height: 80vh;
  overflow-y: auto;
}

/* 产品项目相关 */
.product-sub-menu .product-card-item {
  max-width: 230px;
  width: 24%;
  height: 300px;
  padding: 0 15px;
  border-radius: 8px;
  background: #f4f4f4;
  position: relative;
  margin: 0 1% 6px 0;
}

.product-sub-menu .product-card-item:hover {
  background: #f8f8f8;
  text-decoration: none;
}

.product-card-item .product-card__img {
  width: 100%;
  height: auto;
  display: block;
  max-height: max-content;
}

.product-card-item .product-card__name {
  font-size: 16px;
  color: #525252;
  line-height: 22px;
  margin-top: 24px;
  text-align: center;
}

.product-card-item .product-card__icon {
  width: 35px;
  height: 47px;
  position: absolute;
  left: 15px;
  top: 0;
}

.product-card-item .product-card__icon svg {
  position: absolute;
  left: 0;
  top: 0;
}

.product-card-item .product-card__icon .card-text {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  z-index: 2;
}

/* drawer菜单 */
.kawa-drawer {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  transform: translateX(-100%);
}
.drawer-display {
  transform: translateX(0);
}

.kawa-drawer-close {
  color: white;
  position: absolute;
  right: 3vw;
  top: 3vw;
  font-size: 7vw;
}

#header .sidebar-menu {
  background-color: #f7f8f9;
  width: 75%;
  padding-top: 13vw;
  min-height: 100vh;
  padding-bottom: 13vw;
  box-sizing: border-box;
}

#header .sidebar-menu > li {
  font-size: 4.2vw;
  background: #f7f8f9;
}

#header .sidebar-menu > li > a {
  display: block;
  background: #f7f8f9;
  padding: 4vw 0;
  margin-left: 4.2vw;
  margin-right: 4.2vw;
  border-bottom: 1px solid #d6d8d8;
  color: #333;
}

#header .sidebar-menu > li > a:hover {
  text-decoration: none;
}

/* 移动端的产品系列菜单 */
#header .sidebar-menu > li svg {
  color: #00ade5;
  transition: transform 0.3s ease;
}
#header .sidebar-menu > li.is-open svg {
  transform: rotate(180deg);
}
#header .sidebar-menu > li.is-open {
  background-color: #fff;
}
#header .sidebar-menu > li.is-open a {
  background-color: #fff;
  border: none;
  display: block;
}
#header li .sidebar-sub-menu {
  display: none;
}
#header li.is-open .sidebar-sub-menu {
  display: block;
  padding-bottom: 5vw;
}
#header .sidebar-sub-menu > li {
  padding: 0 8vw;
  background-color: #fff;
}
#header .sidebar-sub-menu > li > a {
  font-size: 3.4vw;
  margin: 0;
  border: none;
  padding-top: 7.7vw;
  padding-bottom: 0;
}
#header .sidebar-sub-menu > li:first-child > a {
  padding-top: 2vw;
  color: #212529;
}
/* 产品列表 */
#header .sidebar-sub-menu .collection-menu-products {
  display: none;
}
#header .sidebar-sub-menu.sidebar-sub-menu .is-expand .collection-menu-products {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4vw;
}
#header .sidebar-sub-menu .product-card-link {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 3.4vw;
}
#header .sidebar-sub-menu .product-card-subtitle {
  text-align: center;
  font-size: 3.3vw;
  color: #777;
}

/* 搜索图标 */
#header .search-down {
  box-shadow: 0 0 5px #d3d3d3;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 88px;
  display: none;
}
#header .search-down.active {
  display: block;
}

#header .search-wrap {
  height: 70px;
  line-height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .search-wrap predictive-search {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  #header {
    background-color: #fff;
  }

  #header .header-wrapper-kawa {
    justify-content: space-between;
    padding: 2.3vw 2.3vw 1.3vw;
    align-items: center;
  }

  #header .logo-container {
    order: 2;
    height: max-content;
  }

  #header .nav-container {
    order: 1;
    flex: none;
    line-height: 1;
  }

  #header .nav-hamburger {
    display: block;
    font-size: 8vw;
  }

  #header .cart-icon-container {
    order: 3;
    display: flex;
    align-items: center;
    font-size: 8vw;
  }

  #header .cart-icon-container .cart-count-bubble {
    display: flex;
    top: 2.5vw;
    left: 5vw;
    width: 4.2vw;
    height: 4.2vw;
  }

  #header .nav-left,
  #header .nav-right {
    display: none;
  }

  #header .main-header-logo {
    filter: grayscale(0%) brightness(100%);
    height: 7.6vw;
    width: 32vw;
    max-width: 128px;
    max-height: 30px;
    margin-top: 0;
  }

  /* 移动端登录注册菜单 */
  #header .sidebar-login-register {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6d8d8;
    margin-left: 4.2vw;
  }

  #header .sidebar-menu .sidebar-login-register > a {
    border-bottom: none;
  }
  #header .sidebar-menu .sidebar-login-register > a:first-child {
    margin-left: 0;
  }

  #header .sidebar-menu .sidebar-login-register > span {
    height: max-content;
  }

  /* 移动端搜索框 */
  #header .sidebar-search-menu {
    margin-bottom: 11vw;
  }

  #header .sidebar-search-wrap {
    margin: 0 4.2vw;
  }

  #header .search-input__wrap {
    position: relative;
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1.295vw;
    overflow: hidden;
  }
  #header .search-input__wrap.active {
    border-color: #00ade5;
  }

  #header #search-input {
    height: 8.82vw;
    line-height: 8.82vw;
    padding: 0 0 0 3.367vw;
  }
  #header #search-input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  #header .search__button {
    height: 100%;
    background-image: linear-gradient(to right, #1e7ff2, #1dc4e4);
  }

  #header .search__button svg {
    width: 4.5vw;
    height: 4.5vw;
    color: #fff !important;
  }
}
