.kawa-faq {
  padding: 0 1rem;
}

.kawa-faq .title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  font-size: 24px;
  color: #000;
}

@media (max-width: 768px) {
  .kawa-faq {
    padding: 12px 16px 0;
  }

  .kawa-faq .title {
    text-align: left;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 700;
  }
}
