.kawa-video-banner-section {
  position: relative;
  top: -88px;
  z-index: 0;
}

.video-banner-pagination {
  bottom: 20px !important;
}

.video-banner {
  width: 100%;
}

/*轮播图前进后退样式*/
.video-swiper-container .swiper-button-next,
.video-swiper-container .swiper-button-prev {
  transition: all 0.3s ease-in-out;
  display: block;
}

.video-banner .swiper-button-next {
  transform: translateX(200%);
}

.video-banner .swiper-button-prev {
  transform: translateX(-200%);
}

.video-banner:hover .swiper-button-next,
.video-banner:hover .swiper-button-prev {
  transform: translateX(0);
}

.video-banner .banner-main-text {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 94px;
  margin-bottom: 30px;
  line-height: 1;
}

/*光标闪烁相关*/
.text-blink::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 80px;
  background-color: #fff;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: #fff;
  }
}

/*轮播图上面的描述*/
.video-banner .banner-item-name {
  font-size: 18px;
  font-weight: 700;
  font-family: Quicksand;
}

.video-banner .banner-item-desc {
  font-size: 28px;
  font-weight: 500;
  font-family: Quicksand;
  margin-bottom: 50px;
  max-width: 680px;
  line-height: 1.2;
}

/*轮播图上面的按钮*/
.video-banner product-form {
  display: inline-block;
}

.video-banner .item-shop-now-btn {
  background: linear-gradient(150deg, #eb3349, #f45c43);
}

.video-banner .item-learn-more-btn {
  background: #41aad7;
  margin-left: 30px;
}

.video-banner .banner-btn {
  display: inline-block;
  height: 48px;
  box-sizing: border-box;
  padding: 0 24px;
  line-height: 46px;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  top: 0;
  color: #fff;
  outline: none;
  border: none;
  transition: top 0.5s;
}

.video-banner .banner-btn:hover {
  position: relative;
  top: -6px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.video-banner .icon-arrow-right {
  margin-left: 5px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .video-banner .banner-main-text {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .kawa-video-banner-section {
    top: 0;
  }

  .video-banner .item-wrapper {
    position: relative;
    height: calc(1.28533 * 100vw);
  }

  .video-banner .banner-item-content {
    width: 100%;
    top: 8vw;
    left: 0;
    bottom: 40px;
    transform: translate(0, 0);
    text-align: center;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }

  .video-banner .banner-main-text {
    font-size: 9vw;
    width: 100%;
    margin-bottom: auto;
  }

  .text-blink::after {
    width: 2px;
    height: 9vw;
  }

  .video-banner .banner-item-name,
  .video-banner .banner-item-desc {
    font-weight: 500;
    font-size: 4.15vw;
  }

  .video-banner .banner-item-desc {
    margin-bottom: 4vw;
  }

  .video-banner .banner-btn {
    font-size: 3.4vw;
    height: 9.9vw;
    line-height: 9.6vw;
  }

  .video-banner .icon-arrow-right {
    bottom: 1px;
  }

  .video-banner .vc-video {
    object-fit: fill;
  }

  .video-banner:hover .swiper-button-next,
  .video-banner:hover .swiper-button-prev {
    display: none;
  }
}
