.products-card-container .container-title {
  font-size: 36px;
  margin-top: calc(90 / 2580 * 100vw);
  margin-bottom: 25px;
  font-weight: 600;
  line-height: 1.35;
  text-align: center;
  color: #000;
}

.products-card-container .product-card {
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.products-card-container .container-all-card .product-card img {
  display: block;
}

.products-card-container .container-all-card .product-card.product-card-second,
.products-card-container .container-all-card .product-card.product-card-third {
  width: calc(50% - 10px);
}

.products-card-container .card-description-box {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 48px;
}

.products-card-container .product-card-first .description-title {
  color: #000;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.35;
  font-weight: 600;
}

.products-card-container .description-title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 600;
}

.products-card-container .description-desc {
  color: #000;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 400;
  margin-bottom: 0;
}

.products-card-container .product-card .learn-more-btn {
  background-color: rgba(0, 0, 0, 0);
  border-color: #000;
  color: #000;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  border: 1px solid #000;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  padding: 0 28px;
  margin-top: 40px;
}

.products-card-container .product-card-second .learn-more-btn,
.products-card-container .product-card-third .learn-more-btn {
  height: 48px;
  width: 140px;
  border-radius: 24px;
  font-size: 14px;
}

.products-card-container .product-card .learn-more-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 576px) {
  .products-card-container .container-title {
    margin: 0% 10% 30px;
    font-size: 20px;
  }

  .kawa-products-card__section {
    background: linear-gradient(0deg, white, #f5f5f7 10%, #f5f5f7 90%, white);
    padding-bottom: 50px;
  }

  .products-card-container {
    padding: 0 24px;
  }

  .products-card-container .product-card {
    margin-bottom: 32px;
    width: 100%;
    background: #ffffff;
  }

  .products-card-container
    .container-all-card
    .product-card.product-card-second,
  .products-card-container
    .container-all-card
    .product-card.product-card-third {
    width: 100%;
  }

  .products-card-container .card-description-box {
    padding: 32px;
    position: static;
    height: auto;
  }

  .products-card-container .product-card-first .description-title {
    margin-bottom: 6px;
    font-size: 16px;
  }
  .products-card-container .description-title {
    margin-bottom: 6px;
    font-size: 16px;
  }

  .products-card-container .product-card .learn-more-btn {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .products-card-container .card-description-box {
    padding: 20px;
  }

  .products-card-container .description-desc {
    font-size: 14px;
  }
}
