.kawa-product-tabs .product-tabs-title {
  max-width: 1080px;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
  font-size: 46px;
}

.kawa-product-tabs .product-tabs-description {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  color: #333;
  line-height: 1.6;
  letter-spacing: -0.3px;
  font-size: 18px;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.kawa-product-tabs .tabs-nav {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

.kawa-product-tabs .tabs-nav > li {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  padding-bottom: 2px;
  box-sizing: border-box;
  line-height: 28.8px;
  position: relative;
}

.kawa-product-tabs .tabs-nav > li > span {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin: 0 40px;
  padding-bottom: 2px;
}

.kawa-product-tabs .tabs-nav > li.active > span {
  color: #00ade5;
  border-bottom: solid 1px #00ade5;
}

.kawa-product-tabs .tabs-nav > li + li::before {
  height: 16px;
  content: "|";
  color: #999;
  font-weight: 500;
}

.kawa-product-tabs .tabs-content {
  width: 950px;
  margin: 40px auto 0;
}

@media (max-width: 950px) {
  .kawa-product-tabs {
    padding: 0  3.85vw;
    margin-top: 16vw;
  }

  .kawa-product-tabs .product-tabs-title {
    font-size: 8.4vw;
    margin-bottom: 8.4vw;
  }

  .kawa-product-tabs .product-tabs-description {
    font-size: 4.2vw;
    margin-bottom: 4.2vw;
  }

  .kawa-product-tabs .tabs-nav {
    margin-top: 20px;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .kawa-product-tabs .tabs-nav > li > span {
    font-size: 14px;
    margin: 0;
    line-height: 1.3;
  }

  .kawa-product-tabs .tabs-nav > li + li > span {
    margin-left: 20px;
  }

  .kawa-product-tabs .tabs-nav > li + li::before {
    display: none;
  }

  .kawa-product-tabs .tabs-content {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
