.kawa-product-buy {
  box-shadow: 0 -11px 51px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  max-width: 390px;
  min-height: 104px;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 48;
}

.kawa-product-buy .product-subtitle {
  font-size: 18px;
  letter-spacing: -0.6px;
  font-weight: 300;
  margin-top: 20px;
  line-height: normal;
}

.kawa-product-buy .purchase-box {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kawa-product-buy product-form {
  flex: 1;
}

.kawa-product-buy .purchase-buttons {
  display: flex;
  justify-content: flex-end;
}

.kawa-product-buy .product-buy-form {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.kawa-product-buy .add-to-cart__btn {
  border: 1px solid #00ade5;
  background: #00ade5;
  color: #fff;
  width: 50%;
  flex: auto;
  min-height: 0;
  height: 50px;
  line-height: 50px;
  border-radius: 26px;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kawa-product-buy .add-to-cart__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: rgb(18, 18, 18);
  border-color: rgb(18, 18, 18);
}

.kawa-product-buy .shopify-payment-button {
  width: 50%;
  margin-left: 6px;
  flex: auto;
}

.kawa-product-buy .shopify-payment-button__button {
  background: red;
  color: #fff;
  border-radius: 26px;
  opacity: 1;
  box-shadow: none;
  min-height: 0;
  height: 50px;
  line-height: 50px;
  border-radius: 26px;
  font-size: 18px;
  padding: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
}
.kawa-product-buy .shopify-payment-button__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: rgb(18, 18, 18);
}

.kawa-product-buy .shopify-payment-button__button::before,
.kawa-product-buy .shopify-payment-button__button::after {
  display: none;
}

.kawa-product-buy .shopify-payment-button__more-options {
  display: none;
}

@media (max-width: 768px) {
  .kawa-product-buy .purchase-box {
    width: 100%;
    min-width: 0;
  }

  .kawa-product-buy .product-price > span {
    font-size: 16px;
  }

  .kawa-product-buy .add-to-cart__btn,
  .kawa-product-buy .shopify-payment-button__button {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    font-size: 14px;
    font-weight: 400;
  }

  .kawa-product-buy .loading-overlay__spinner {
    width: 13px;
  }
}
