/* 手风琴样式 */
.kawa-accordion {
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0;
  border-top: 1px solid #f4f4f4;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.kawa-accordion .kawa-accordion-name {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  margin-bottom: 16px;
}
.kawa-accordion .icon-arrow-right {
  position: relative;
  top: 5px;
  transform: rotate(90deg);
}
.kawa-accordion.active .icon-arrow-right {
  transform: rotate(270deg);
}
.kawa-accordion-content {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0 14px;
  display: none;
}
.kawa-accordion-content .accordion-content__inner {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
