.kawa-breadcrumbs-nav {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px 30px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.kawa-breadcrumbs {
  padding: 0;
  margin: 0;
}

.kawa-breadcrumbs a:hover {
  text-decoration: none;
}

.kawa-breadcrumbs > li {
  display: inline;
  list-style-type: none;
  color: #00ade5;
  font-weight: 500;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kawa-breadcrumbs > li:not(:last-child) {
  margin-right: 12px;
}

.kawa-breadcrumbs > li::after {
  content: '>';
  color: #777;
  margin-left: 10px;
}

.kawa-breadcrumbs > li > a {
  font-weight: 500;
}

/* 搜索框样式 */
.kawa-breadcrumbs-nav .search-container {
  flex: 0 1 300px;
  max-width: 300px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .kawa-breadcrumbs-nav {
    flex-direction: column;
  }

  .kawa-breadcrumbs > li:not(:last-child) {
    margin-right: 6px;
  }
  .kawa-breadcrumbs > li:after {
    margin-left: 5px;
  }

  .kawa-breadcrumbs-nav .kawa-common-search {
    padding: 0 20% 0 0;
  }
}
