.products-card-container .container-title {
  font-size: 36px;
  margin-top: calc(90 / 2580 * 100vw);
  margin-bottom: 25px;
  font-weight: 600;
  line-height: 1.35;
  text-align: center;
  color: #000;
}

.products-card-container .container-all-card .product-card {
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.products-card-container .container-all-card .product-card img {
  display: block;
}

.products-card-container .container-all-card .product-card.product-card-second,
.products-card-container .container-all-card .product-card.product-card-third {
  width: calc(50% - 10px);
}

.products-card-container .product-card .card-description-box {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 48px;
}

.products-card-container .product-card .description-title {
  color: #000;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.35;
  font-weight: 600;
}

.products-card-container .product-card-second .description-title,
.products-card-container .product-card-third .description-title {
    font-size: 24px;
}

.products-card-container .product-card .description-desc {
  color: #000;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 400;
}

.products-card-container .product-card .learn-more-btn {
  background-color: rgba(0, 0, 0, 0);
  border-color: #000;
  color: #000;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  border: 1px solid #000;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  padding: 0 28px;
  margin-top: 40px;
}

.products-card-container .product-card-second .learn-more-btn,
.products-card-container .product-card-third .learn-more-btn {
    height: 48px;
    width: 140px;
    border-radius: 24px;
    font-size: 14px;
}

.products-card-container .product-card .learn-more-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
