.kawa-flash-sale .shop-row {
  padding: 0;
  position: relative;
  display: flex;
}

.kawa-flash-sale .product-left__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51%;
  vertical-align: top;
  position: relative;
}

.kawa-flash-sale .product-right__info {
  padding: 100px 0 100px 100px;
  display: inline-block;
  width: 51%;
  vertical-align: top;
  position: relative;
}

.kawa-flash-sale .product-image {
  width: 400px;
  height: 100%;
}

.kawa-flash-sale .product-tabs {
  margin-bottom: 20px;
  display: inline-flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.kawa-flash-sale .product-tabs > li {
  font-weight: 500;
  color: #aaa;
  font-size: 22px;
  padding-bottom: 8px;
  cursor: pointer;
  position: relative;
  top: 1px;
  margin-left: 0;
}
.kawa-flash-sale .product-tabs > li.active {
  color: #333;
  border-bottom: 2px solid #00ade5;
}

.kawa-flash-sale .product-tabs > li + li {
  margin-left: 30px;
}

.kawa-flash-sale .product-details-wrapper {
  max-width: 520px;
}

.kawa-flash-sale .product-tags {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.kawa-flash-sale .product-tag {
  width: 50%;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.kawa-flash-sale .product-title {
  font-size: 30px;
}

.kawa-flash-sale .product-link {
  color: #00ade5;
  display: inline-block;
  margin-left: 5px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.kawa-flash-sale .product-link:hover {
  text-decoration: none;
}

.kawa-flash-sale .product-link > span {
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.kawa-flash-sale .product-link:hover > span {
  border-bottom: 1px solid #00ade5;
}

.kawa-flash-sale .product-link > svg {
  position: relative;
  right: 0px;
  transition: right 0.3s;
}
.kawa-flash-sale .product-link:hover > svg {
  right: -10px;
}

.kawa-flash-sale .shop-button {
  transform: translateY(0);
  transition: transform 0.4s;
  border-radius: 24px;
  line-height: 34px;
  padding: 0 20px;
  color: #fff;
  background: linear-gradient(90deg, #eb3349 0%, #f45c43 100%);
  border: 1px solid transparent;
}
.kawa-flash-sale .shop-button:hover {
  box-shadow: 0 5px 8px rgb(177 69 56 / 40%);
  transform: translateY(-6px);
}

@media screen and (max-width: 768px) {
  .kawa-flash-sale .shop-row {
    flex-direction: column;
    margin: 3.91vw 15px;
    box-shadow: 0 0 3.91vw #ccc;
    position: relative;
  }

  .kawa-flash-sale .product-left__image {
    width: unset;
  }

  .kawa-flash-sale .product-image {
    width: 100%;
    height: auto;
  }

  .kawa-flash-sale .product-right__info {
    padding: 0 2.6vw 6.5vw;
    width: unset;
  }

  .kawa-flash-sale .product-tabs {
    display: flex;
    justify-content: center;
    margin: 6.5vw 0 2.6vw;
  }

  .kawa-flash-sale .product-tabs > li {
    font-size: 3.7vw;
    padding-bottom: 0.5vw;
  }

  .kawa-flash-sale .product-title {
    font-size: 3.5vw;
    font-weight: 400;
    margin: 0 3.9vw;
    text-align: center;
  }

  .kawa-flash-sale .product-link {
    display: none;
  }
}
