.kawa-blog-products {
  max-width: 1200px;
  margin: 0 auto;
}

.kawa-blog-products a:hover {
  text-decoration: none;
}
.kawa-blog-products p {
  margin-bottom: 0;
}

.kawa-blog-products .section-title {
  text-align: center;
  margin-top: 64px;
  color: #333;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}

.kawa-blog-products .recommend-products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 80px;
}

.kawa-blog-products .product-wrap {
  width: calc((100% - 60px) / 4);
  padding: 50px 20px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  position: relative;
  margin-left: 20px;
}
.kawa-blog-products .product-wrap:nth-of-type(4n + 1) {
  margin-left: 0;
}

.kawa-blog-products .product-img {
  display: block;
  width: 190px;
  height: 190px;
  background-size: cover;
  margin: 0 auto 8px;
}

.kawa-blog-products .product-name {
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: center;
  color: #333;
  font-size: 18px;
  line-height: 1.2;
}

.kawa-blog-products .product-wrap .product-info {
  background-color: rgba(51, 51, 51, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kawa-blog-products .product-wrap:hover .product-info {
  transition: all 0.4s;
  background-color: rgba(51, 51, 51, 0.9);
}

.kawa-blog-products .product-wrap .product-info > * {
  display: none;
}
.kawa-blog-products .product-wrap:hover .product-info > * {
  display: block;
}

.kawa-blog-products .info-product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
  color: white;
}

.kawa-blog-products .info-des {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12px;
}

.kawa-blog-products .product-wrap .product-info a {
  font-size: 16px;
  color: #00ade5;
  align-items: baseline;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
}

.kawa-blog-products .product-info a > .learn-more {
  border-bottom: 1px solid transparent;
}
.kawa-blog-products .product-info a:hover > .learn-more {
  border-bottom: 1px solid #00ade5;
}

.kawa-blog-products .product-info a > svg {
  position: relative;
  right: 0px;
  color: #00ade5;
  transition: right 0.3s;
  margin-left: 8px;
}
.kawa-blog-products .product-info a:hover > svg {
  right: -4px;
}

.kawa-blog-products .product-name--mb {
  display: none;
}

@media screen and (max-width: 768px) {
  .kawa-blog-products {
    margin-top: 48px;
  }

  .kawa-blog-products .section-title {
    margin-top: 0;
    font-size: 22px;
  }

  .kawa-blog-products .recommend-products-container {
    max-width: calc(100% - 40px);
    margin: 24px auto 60px;
  }

  .kawa-blog-products .product-wrap {
    width: calc((100% - 20px) / 2);
    padding: 20px 0 24px;
    margin-left: 0;
  }
  .kawa-blog-products .product-wrap:nth-of-type(2n) {
    margin-left: 20px;
  }
  .kawa-blog-products .product-wrap:nth-of-type(n + 3) {
    margin-top: 16px;
  }

  .kawa-blog-products .product-img {
    width: 120px;
    height: 120px;
  }

  .kawa-blog-products .product-name {
    display: none;
  }

  .kawa-blog-products .product-wrap .product-info {
    display: none;
  }

  .kawa-blog-products .product-name--mb {
    font-size: 16px;
    color: #00ade5;
    display: block;
    align-items: baseline;
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    margin: 4px auto 0;
  }

  .kawa-blog-products .product-name--mb > svg {
    position: relative;
    right: 0px;
    bottom: 2px;
    color: #00ade5;
    transition: right 0.3s;
    margin-left: 8px;
  }
}
