.kawa-flash-sale-banner {
  text-align: center;
  position: relative;
  padding: 140px 0;
}

.kawa-flash-sale-banner .banner-inner {
  color: #fff;
  font-family: quicksand;
}

.kawa-flash-sale-banner .banner-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.kawa-flash-sale-banner .banner-title {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 26px;
  font-family: Montserrat;
  white-space: nowrap;
}

.kawa-flash-sale-banner .banner-des {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.kawa-flash-sale-banner .banner-des.hide-more {
  height: 80px;
  overflow: hidden;
}

.kawa-flash-sale-banner .show-more-btn {
  margin-top: 20px;
  margin-bottom: 0;
  height: 16px;
  line-height: 16px;
}
.kawa-flash-sale-banner .show-more-btn.active {
  transform: rotate(180deg);
}

.kawa-flash-sale-banner .show-more-btn > svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.kawa-flash-sale-banner--mb.banner--mb {
  display: none;
}

@media screen and (max-width: 768px) {
  .kawa-flash-sale-banner .banner-subtitle {
    display: none;
  }

  .kawa-flash-sale-banner .banner-title {
    font-size: 5.9vw;
    white-space: unset;
  }

  .kawa-flash-sale-banner .banner-des {
    display: none;
  }

  .kawa-flash-sale-banner .show-more-btn {
    display: none;
  }

  .kawa-flash-sale-banner--mb.banner--mb {
    display: block;
    padding-bottom: 7.8vw;
    box-shadow: 0 1.3vw 6.66vw #ccc;
  }

  .kawa-flash-sale-banner--mb .banner-subtitle--mb {
    font-weight: 500;
    font-size: 3.91vw;
    padding-top: 9.1vw;
    margin: 0 auto 3.91vw;
    width: 81.56vw;
  }

  .kawa-flash-sale-banner--mb .banner-des--mb {
    width: 81.56vw;
    margin: 0 auto;
    font-size: 3.125vw;
    font-weight: 400;
    color: #555;
  }
  .kawa-flash-sale-banner--mb .banner-des--mb.hide-more--mb {
    height: 18.75vw;
    overflow: hidden;
  }

  .kawa-flash-sale-banner--mb .show-more-btn--mb {
    text-align: center;
  }
  .kawa-flash-sale-banner--mb .show-more-btn--mb.active {
    transform: rotate(180deg);
  }

  .kawa-flash-sale-banner--mb .show-more-btn--mb > svg {
    width: 5vw;
    height: 5vw;
    cursor: pointer;
  }
}
