.kawa-phone-preview .scroll-container {
  background-color: #ecf0f3;
  position: relative;
}

.kawa-phone-preview .content-wrapper {
  margin: 0;
  padding: 0 0 0 50vw;
}

/* 手机框 */
.kawa-phone-preview .phone-content {
  position: absolute;
  width: calc(288px + 10vw);
  top: 50vh;
  left: calc(300px + 34vw);
  transform: translate(-126%, -50%);
}

.kawa-phone-preview .phone-content.phone-bottom {
  bottom: 50vh;
  top: unset;
  transform: translate(-126%, 50%);
}

.kawa-phone-preview .phone-simulator {
  background-size: 100% 100%;
  display: inline-block;
  position: relative;
}

.kawa-phone-preview .phone-img {
  position: relative;
  z-index: -1;
}

/* 步骤条 */
.kawa-phone-preview .step-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-60%);
  width: 24px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.kawa-phone-preview .number {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background: #e7eaec;
  border: 1px solid #a7a7a7;
  position: relative;
  color: #e7eaec;
}

.kawa-phone-preview .number.active {
  border: 1px solid #1dc4e4;
  background-image: linear-gradient(120deg, #1e7ff2, #1dc4e4);
  color: #fff;
}

.kawa-phone-preview .dots {
  margin: 8px auto;
  width: 2px;
  background: url(https://reolink.com/wp-content/assets/2018/03/scroll-phone-dots.png)
    center center repeat-y;
  height: 108px;
}

/* 文本内容 */
.kawa-phone-preview .preview-content {
  font-size: 18px;
  color: #333;
  padding-top: calc((160 / 860) * 100vh);
  padding-bottom: calc((194 / 860) * 100vh);
  max-width: 587px;
  height: 100vh;
  opacity: .5;
}

.kawa-phone-preview .preview-content.active {
  opacity: 1;
}

.kawa-phone-preview .content-wrapper .phone-simulator {
  display: none;
}

@media (max-width: 1200px) {
  .kawa-phone-preview .phone-content {
    left: calc(280px + 25vw);
  }
}

@media (max-width: 768px) {
  .kawa-phone-preview .scroll-container {
    z-index: -1;
  }

  .kawa-phone-preview .phone-content {
    display: none;
  }

  .kawa-phone-preview .content-wrapper {
    padding: 0;
  }

  .kawa-phone-preview .preview-content {
    padding: 0;
    height: auto;
  }

  .kawa-phone-preview .content-wrapper .phone-simulator {
    display: inline-block;
  }

  .kawa-phone-preview .preview-content,
  .kawa-phone-preview .phone-simulator {
    padding: 12px 16px 0;
  }

  .kawa-phone-preview .preview-content:nth-child(3) {
    background-color: #fff;
  }
}
