.kawa-test-club .test-club-tabs {
  margin-bottom: 32px;
}

.kawa-test-club .test-club-tag {
  width: 170px;
  padding-bottom: 12px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.kawa-test-club .test-club-tag.is-active {
  border-bottom: 2px solid #298bff;
}

.kawa-test-club .test-club-content {
  display: none;
}

.kawa-test-club .test-club-content.is-active {
  display: block;
}

.kawa-test-club .testing-product-card {
  max-width: 370px px;
  min-height: 570px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kawa-test-club .testing-product-card:hover {
  border-color: #00a7e1;
}

.kawa-test-club .product-image-wrapper {
  height: 330px;
  cursor: pointer;
}

.kawa-test-club .testing-product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.kawa-test-club .testing-product-title {
  display: -webkit-box;
  height: 40px;
  margin-bottom: 24px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kawa-test-club .testing-product-info {
  margin-bottom: 18px;
}
.kawa-test-club .testing-product-discount-price {
  color: #ff5800;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
}
.kawa-test-club .testing-product-price {
  color: rgba(0, 0, 0, 0.35);
  font-weight: 400;
  font-size: 12px;
  text-decoration: line-through;
}
.kawa-test-club .testing-product-count {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 20px;
}
.kawa-test-club .testing-product-note {
  color: rgba(0, 0, 0, 0.35);
  font-weight: 400;
  font-size: 12px;
}
.kawa-test-club .testing-product-divider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
}
.kawa-test-club .testing-product-area {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.kawa-test-club .testing-product-apply-button {
  width: 230px;
  height: 40px;
  color: #fff;
  background: #faa72d;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.kawa-test-club .testing-product-star-container {
  display: inline-block;
  overflow: hidden;
}

.kawa-test-club .testing-product-comment-number {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.55);
  vertical-align: top;
  cursor: pointer;
}

.kawa-test-club .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
.kawa-test-club .modal-body {
  padding: 10px 40px;
}

.kawa-test-club .testing-product-form__title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  text-align: center;
}

.kawa-test-club .testing-product-form__description {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
}

.kawa-test-club .testing-product-form {
  text-align: left;
}

/* 客户提交的信息表单 */
.kawa-test-club .testing-product-form .testing-form-item {
  margin-bottom: 15px;
}

.kawa-test-club .testing-product-form label {
  display: block;
  height: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.kawa-test-club .testing-product-form input[type="text"] {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.kawa-test-club .testing-product-form input[type="text"]:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.kawa-test-club .testing-form-submit {
  margin-top: 20px;
}
.kawa-test-club .testing-form-submit input {
  width: 60%;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background: #faa72d;
  border: none;
}

label.required::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

/*rules部分*/
.test-club-content .testing-rules-content {
  margin-bottom: 40px;
  padding: 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 16px;
  line-height: 25px;
}
@media (min-width: 768px) {
  .test-club-content .testing-rules-content {
    padding: 40px 100px;
  }
}

/* 产品详情页 */
.kawa-test-club .go-back-btn {
  color: rgba(0, 0, 0, 0.35);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}
.kawa-test-club .go-back-btn:hover {
  color: rgba(0, 0, 0, 0.65);
}

/* 推荐区 */
.kawa-test-club .testing-product-recommend__title {
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.kawa-test-club .testing-product-recommend__item {
  height: auto;
  width: 100%;
  cursor: pointer;
}

.kawa-test-club .testing-product-comments {
  border-top: 1px solid #dee2e6;
}

.kawa-test-club .testing-product-comments_title {
  color: rgba(0, 0, 0, 0.55);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
