.kawa-dealer-form {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.kawa-dealer-form .form-wrapper {
  max-width: 838px;
  margin: 0 auto;
  padding: 3%;
  background: #fff;
  border: solid 2px rgb(246, 243, 243);
  border-radius: 3px;
  transition: height 0.3s;
}

.kawa-dealer-form .form-header {
  margin-bottom: 24px;
  width: 100%;
}

.kawa-dealer-form .form-title {
  text-align: center;
  font-family: Montserrat;
  color: #354051;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  margin: 7px 0;
}

.kawa-dealer-form .form-des {
  margin-top: 8px;
  margin-bottom: 10px;
  line-height: 24px;
  font-family: Montserrat;
  color: rgb(132, 142, 156);
  font-size: 16px !important;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.kawa-dealer-form .form-items-section {
  display: flex;
  flex-wrap: wrap;
}

.kawa-dealer-form .form-items-section.address-details-section {
  margin-bottom: 15px;
}

.kawa-dealer-form .form-item {
  width: 50%;
  margin-bottom: 15px;
  padding: 0 15px;
}
.kawa-dealer-form .form-item.form-item-full {
  width: 100%;
}

.kawa-dealer-form .form-item > input {
  width: 100%;
  max-width: 100%;
  border: 1px solid #bec6ca;
  box-shadow: none;
  padding: 6px 12px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  border-radius: 3px;
  height: 32px;
}

.kawa-dealer-form .form-item > input:focus {
  border: 1px solid rgba(59, 140, 255, 0.7);
  outline: none;
}

.kawa-dealer-form .company-address-header {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin: 7px 0;
  padding-left: 15px;
  color: #848e9c;
}

.kawa-dealer-form .company-address-header::before {
  content: "*";
  color: #eb8281;
}

.kawa-dealer-form .submit-button-wrapper {
  padding: 0 15px;
}

.kawa-dealer-form .submit-button-wrapper > input {
  min-width: 75px;
  border-radius: 7px;
  background-color: rgba(88, 193, 227, 1);
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid;
  max-width: 100%;
  vertical-align: middle;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .kawa-dealer-form .form-item {
    width: 100%;
  }
}
