.kawa-main-banner-new {
  padding: 56px 24px 0 24px;
  position: relative;
  height: 490px;
  letter-spacing: -0.03em;
}

.kawa-main-banner-new .banner-img-wrap {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.kawa-main-banner-new .banner-img-wrap a {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.kawa-main-banner-new .banner-video-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.kawa-main-banner-new .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kawa-main-banner-new .banner-video {
  opacity: 0;
  position: absolute;
  height: 480px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: none !important;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 2;
  -o-object-fit: contain;
  object-fit: contain;
}

.kawa-main-banner-new .banner-video-poster-img {
  opacity: 1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  position: relative;
  z-index: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.kawa-main-banner-new .not-show {
  opacity: 0;
}
.kawa-main-banner-new .do-show {
  opacity: 1;
}

.kawa-main-banner-new .banner-content-wrap {
  text-align: center;
  position: relative;
  z-index: 3;
  pointer-events: none;
  color: white;
}

.kawa-main-banner-new .text-top {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  line-height: 24px;
}

.kawa-main-banner-new .text-middle {
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 0;
}

.kawa-main-banner-new .text-bottom {
  font-size: 18px;
  line-height: 24px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .kawa-main-banner-new {
    padding: 0 32px;
    display: flex;
    align-items: center;
  }

  .kawa-main-banner-new .banner-video {
    height: auto;
  }

  .kawa-main-banner-new .banner-content-wrap {
    width: 100%;
    max-width: 50%;
    text-align: left;
  }

  .kawa-main-banner-new .text-top {
    font-size: 16px;
    line-height: 20px;
  }

  .kawa-main-banner-new .text-middle {
    margin-top: 12px;
    font-size: 40px;
    line-height: 48px;
  }

  .kawa-main-banner-new .text-bottom {
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .kawa-main-banner-new {
    height: 640px;
  }

  .kawa-main-banner-new .banner-content-wrap {
    max-width: 1440px;
    margin: 0 auto;
  }

  .kawa-main-banner-new .text-top {
    font-size: 24px;
    line-height: 28px;
  }

  .kawa-main-banner-new .text-middle {
    margin-top: 16px;
  }

  .kawa-main-banner-new .text-bottom {
    font-size: 28px;
    line-height: 32px;
    margin-top: 24px;
  }
}
