.kawa-main-product {
  width: 100%;
  color: #000;
}

.kawa-main-product .product-page-header {
  height: 72px;
  position: relative;
  background-origin: #fff;
  transition: opacity 0.25s;
  border-top: 1px solid #e5e5e5;
}

.kawa-main-product .product-page-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
  transition: transform 0.3s, opacity 0.25s;
  will-change: transform;
  visibility: visible;
  opacity: 1;
}

.kawa-main-product .product-short-name {
  padding: 24px 10px 24px 76px;
  font-size: 16px;
  font-weight: 700;
}

.kawa-main-product .product-header-nav {
  padding: 0 5.2% 0 4.2%;
  min-width: 37.5%;
  overflow-x: auto;
  overflow-y: hidden;
}

.kawa-main-product .header-nav-item {
  position: relative;
  padding: 24px 0;
  font-size: 16px;
  margin: 0 14px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: #000;
}

.kawa-main-product .header-nav-item.active {
  font-weight: 700;
  color: #21d2c5;
}

.kawa-main-product .header-nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #21d2c5;
  transition: 0.2s;
  transform: scale(0);
  will-change: transform;
}

.kawa-main-product .header-nav-item.active::after {
  transform: scale(1);
}

.kawa-main-product .product-images {
  width: 62.5%;
}

.kawa-main-product .product-information {
  padding: 2.6% 5.2% 2.6% 4.2%;
  width: 37.5%;
  min-width: 500px;
}

.kawa-main-product .product-page-main {
  background: #fbfbfb;
}

/*轮播图样式*/
.kawa-main-product .main-product-swiper-container {
  position: sticky;
  top: 0;
}
.kawa-main-product .main-product-button-next,
.kawa-main-product .main-product-button-prev {
  display: block;
  width: 28px;
  height: 28px;
  background-color: #989b9e;
  border-radius: 50%;
  background-size: 10px;
}
.kawa-main-product .swiper-pagination-custom {
  font-family: Open sans-serif;
  color: #fff;
  font-size: 14px;
  background: #989b9e;
  border-radius: 5px;
  padding: 2px 5px;
  z-index: 9;
  font-weight: 400;
  top: 36px;
  right: 52px;
  bottom: unset;
  left: unset;
  letter-spacing: -1px;
  width: unset;
}

/*右侧的产品信息样式*/
.kawa-main-product .border-bottom {
  border-bottom: 1px #e5e5e5 solid;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.kawa-main-product .product-information-name {
  font-size: 24px;
  font-weight: 700;
}
.kawa-main-product .product-information-price {
  margin: 8px 0 14px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.kawa-main-product .discount-title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.kawa-main-product .modal-dialog {
  width: 90%;
  max-width: 840px;
}

.kawa-main-product .modal-content {
  border-radius: 8px;
}

.kawa-main-product .modal-header {
  color: #333;
  padding: 21px 50px 21px 35px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 28px;
  margin: 0;
}

.kawa-main-product .modal-header h4 {
  font-size: 28px;
}

.kawa-main-product .modal-body {
  width: 100%;
  padding: 21px 35px 35px;
  box-sizing: border-box;
}

.kawa-main-product .modal-body h4 {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  text-transform: none;
  line-height: 1.5;
  display: block;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #6b6b6b;
}

.kawa-main-product .modal-body p {
  font-size: 16px;
  color: #6b6b6b;
}

.kawa-main-product .discount-code {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: #fbe6da;
  border-radius: 4px;
  padding: 4px;
}
.kawa-main-product .price-off {
  text-align: center;
  flex: 1;
  border-right: 1px #fff dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kawa-main-product .price-off > h3 {
  font-size: 28px;
  color: #ed844a;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0;
}
.kawa-main-product .price-off > span {
  color: #ed844a;
  font-size: 16px;
  font-weight: 700;
  margin-left: 8px;
}
.kawa-main-product .discount-code-wrapper {
  width: 70%;
  padding: 13px 10px 11px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.kawa-main-product .code-text {
  text-align: center;
  display: flex;
  align-items: center;
}
.kawa-main-product .code-text h5 {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
}
.kawa-main-product .copy-box {
  width: 40%;
  margin-left: 5%;
}
.kawa-main-product .copy-text {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 0;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background: #ed844a;
}
.kawa-main-product .copied-text {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  line-height: 32px;
  color: #ed844a;
  margin-bottom: 0;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  border: 1px solid #ed844a;
}

.kawa-main-product .product-share-friend {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.kawa-main-product .iconify:first-child {
  margin-right: 5px;
}

.kawa-main-product .product-purchase-quantity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  flex-wrap: wrap;
}
.kawa-main-product .product-purchase-quantity > label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
.kawa-main-product .quantity-box {
  width: 75%;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
}
.kawa-main-product .minus-btn,
.kawa-main-product .plus-btn,
.kawa-main-product .quantity__input {
  background-color: #fff !important;
  border: solid 1px #f1f1f1;
  height: 64px;
  line-height: 64px;
  font-size: 14px;
  font-weight: 700;
}
.kawa-main-product .minus-btn {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-right: none;
}
.kawa-main-product .quantity__input {
  border-left: none;
  border-right: none;
}
.kawa-main-product .plus-btn {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.kawa-main-product .product-store {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kawa-main-product .product-store-title {
  font-weight: 700;
  font-size: 16px;
  min-width: 95px;
  color: #000;
}
.kawa-main-product .product-store-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
}
.kawa-main-product .kawa-store-list__item {
  width: 50%;
}
.kawa-main-product .store-info-item {
  display: flex;
  margin: 12px 2px;
  justify-content: flex-end;
}
.kawa-main-product .store-info-item:hover {
  color: #21d2c5;
  cursor: pointer;
}
.kawa-main-product .store-info-item > p {
  font-size: 12px;
  font-weight: 400;
  height: 25px;
  line-height: 25px;
  margin-left: 2px;
  margin-bottom: 0;
  width: 174px;
}

@media (max-width: 1440px) {
  .kawa-main-product .product-images {
    width: 10%;
    flex-grow: 1;
  }

  .kawa-main-product .product-information {
    padding: 2.6% 5.2% 2.6% 7%;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .kawa-main-product .product-short-name {
    display: none;
  }

  .kawa-main-product .product-header-nav {
    width: 100%;
  }

  .kawa-main-product .header-nav-item {
    padding: 10px 0;
    margin: 0 6px;
    font-size: 14px;
    flex-shrink: 0;
  }

  .kawa-main-product .quantity-box {
    width: 100%;
  }

  .kawa-main-product .product-page-main {
    flex-wrap: wrap;
  }

  .kawa-main-product .product-images {
    width: 100%;
  }

  .kawa-main-product .product-information {
    width: 100%;
    min-width: 0;
    border-bottom: 10px solid #f4f4f4;
    padding: 24px 16px;
  }

  .kawa-main-product .price-off {
    flex-direction: column;
  }
  .kawa-main-product .price-off h3 {
    margin-left: 0;
  }
  .kawa-main-product .price-off span {
    margin-left: 0;
  }
  .kawa-main-product .discount-code-wrapper {
    flex-direction: column-reverse;
    padding: 13.5px 10px 7.5px;
  }
  .kawa-main-product .code-text {
    justify-content: center;
    margin-top: 5px;
  }
  .kawa-main-product .copy-box {
    width: 72%;
    margin: 0 auto 3px;
  }

  .kawa-main-product .modal-content {
    border-radius: 0;
  }

  .kawa-main-product .modal-dialog {
    transform: translate(0);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }

  .kawa-main-product .modal-header {
    color: #333;
    padding: 21px 50px 21px 21px;
  }

  .kawa-main-product .modal-header h4 {
    font-size: 24px;
  }

  .kawa-main-product .modal-body {
    padding: 18px;
  }

  .kawa-main-product .modal-body h4 {
    font-size: 16px;
  }

  .kawa-main-product .product-store {
    flex-direction: column;
  }
  .kawa-main-product .product-store-title {
    width: 100%;
  }
  .kawa-main-product .product-store-list {
    width: 100%;
    margin-top: 5px;
  }
  .kawa-main-product .kawa-store-list__item {
    width: 100%;
  }
  .kawa-main-product .store-info-item {
    margin: 5px 0;
    justify-content: unset;
  }
  .kawa-main-product .store-info-item > p {
    width: auto;
  }
}
