.kawa-video-display {
  padding: 68px 0 86px;
  background-color: #f7f8f9;
}

.kawa-video-display a:hover {
  text-decoration: none;
}
.kawa-video-display svg {
  vertical-align: unset;
}

.kawa-video-display .video-display-title {
  color: #333;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 35px;
}

.kawa-video-display .video-display-link {
  color: #00ade5;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.kawa-video-display .share-link {
  margin-left: 42px;
}

.video-display-link .icon-f {
  margin-left: 10px;
  position: relative;
  top: 2px;
  transition: margin-left 0.3s ease;
}

.video-display-link:hover .text {
  border-bottom: 1px solid #00ade5;
}

.video-display-link:hover .icon-f {
  margin-left: 20px;
}

.kawa-video-display .all-video {
  margin-top: 50px;
  overflow: hidden;
}

.kawa-video-display .video-item {
  width: 270px;
  height: 200px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  box-shadow: 0 1px 3px rgba(30, 127, 242, 0.2);
}

.kawa-video-display .video-item img {
  width: 270px;
  height: 200px;
  border-radius: 4px;
}

.kawa-video-display .video-item .cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.35s;
  border-radius: 4px;
}
.kawa-video-display .video-item:hover .cover {
  opacity: 0.6;
}

.kawa-video-display .video-item .switch-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.35s;
  color: rgba(255, 255, 255, 0.8);
}
.kawa-video-display .video-item:hover .switch-icon {
  top: 50%;
}
.kawa-video-display .video-item .switch-icon:hover {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  .kawa-video-display {
    padding: 7.8vw 0;
  }

  .kawa-video-display .video-display-title {
    font-size: 4.5vw;
    margin-bottom: 2vw;
  }

  .kawa-video-display .video-display-link {
    font-size: 3.375vw;
  }
  .kawa-video-display .share-link {
    margin-left: 2.6vw;
  }

  .kawa-video-display .all-video {
    margin-top: 7vw;
  }

  .kawa-video-display .video-item,
  .kawa-video-display .video-item img {
    width: 100%;
    height: auto;
  }

  .kawa-video-display .video-item img {
    border-radius: 0;
  }

  .kawa-video-display .video-item .cover {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    border: none;
  }
  .kawa-video-display .swiper-slide-active .video-item .cover {
    opacity: 1;
  }

  .kawa-video-display .video-item .switch-icon {
    top: 50%;
  }

  .modal-content iframe {
    width: 100%;
    height: 75vw;
    max-height: 560px;
  }
}
